<div>
  <div class="mt-4">
    <div class="container">
      <form [formGroup]="timesheetapp">
        <div class="formGroup">
          <label class="mr-2"><b>Select Your Activity</b></label>
          <select required formControlName="status" class="form-control" [(ngModel)]="status">
            <option value="Training">Training</option>
            <option value="Curricular">Curricular</option>
            <option value="Session">Session</option>
            <option value="Lecture">Lecture</option>
            <option value="Research">Research</option>
            <option value="Others">Others</option>
          </select>&nbsp;&nbsp;&nbsp;
        </div>
        <div class="row ml-0">
          <label><b>Work Hours</b></label>
          <input type="number" class="form-control" style="width: 30%;margin-left: 2%" formControlName="timer"
            [(ngModel)]="timer" />&nbsp;&nbsp;
          <label class="ml-2"><b>Date</b></label>
          <input type="text" class="form-control" style="width: 30%;margin-left: 2%" readonly formControlName="date"
            [minDate]="minDate" [maxDate]="maxDate" bsDatepicker [(bsValue)]="myDateValue"
            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
        </div>
        <div style="margin-top: 5%">
          <button type="submit" class="btn btn-success" (click)="showDashboard()">Log Your Activity</button>
        </div>

        <div class="table-responsive mt-3">
          <table *ngIf="tobeRendered" class="table table-striped table-bordered" style="width: 100%">
            <tr>
              <th scope="col">Activity</th>
              <th scope="col">Hours Logged</th>
              <th scope="col">Date</th>
              <th scope="col">Action</th>
            </tr>
            <tr *ngFor="let t of tasks">
              <td>
                {{t.Name}}

              </td>
              <td>
                {{t.Time}}
              </td>
              <td>
                {{t.Date| date}}
              </td>
              <td>
                <i class="far fa-edit"></i>&nbsp;&nbsp;<i class="fas fa-trash-alt"></i>
              </td>
            </tr>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>